* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post__list {
  width: 100%;
  padding: 20px;
}

.user {
  padding: 20px;
  border: 1px solid orange;
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.u100 {
  width: 100%;
}

.post {
  padding: 10px;
  border: 1px solid teal;
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
